<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- load configuration -->
  <rosparam command="load" file="$(find arl_controllers)/config/muscle_controller.yaml" />

  <!-- spawn controller -->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="muscle_controller" />
</launch>
